{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">

    <div class="row">
        <div class="col-sm col-md-3 col-lg-3"></div>
        <div class="col-sm col-md-6 col-lg-6">
            <div class="card p-5 mt-5" style="color: white; background-color: #131217; box-shadow:  0 8px 16px 0 rgb(20,131,254)">

            <h2>Create an account</h2>
            <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary btn-block btn-sm">Sign Up</button>
            <a href="{% url 'login' %}" class="btn btn-outline-danger btn-block btn-sm">Back to Login</a>
            </form>

            </div>
        </div>
        <div class="col-sm col-md-3 col-lg-3"></div>
    </div>

</div>

{% endblock  %}