{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% block extrastylesheet %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet"> 
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css" rel="stylesheet"> 
{% endblock extrastylesheet %}


<div class="container mt-3">
{% for message in messages %}
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{message}}
    </div>

{% endfor %} 

    <h3 style="color: white;">Time In Time Out Category</h3>
    <button type="button" class="btn btn-sm text-white mb-3" data-toggle="modal" data-target="#exampleModal" style="background-color: #1483fe;">
        Add Category 
    </button>

            
    <div class="card p-3" style="color: white; background-color: #131217; box-shadow:  0 8px 16px 0 rgb(20,131,254)">
        <table class="table table-sm table-borderless text-center" id="tito_table"  style="color: white; background-color: #131217;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
            {% for list in category %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{list.category}}</td>
                    <td>
                        <a href={% url "app:category_delete" list.pk %} class="btn btn-danger btn-sm">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            
        </table>
    </div>
    

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Category</h5>
            <a href="{% url 'app:category' %}" class="close">
            <span aria-hidden="true">&times;</span>
            </a>
        </div>
        <form method="POST">
        {% csrf_token %}
            <div class="modal-body">
                {{form|crispy}}
            </div>
            <div class="modal-footer">
                <a href="{% url 'app:category' %}" class="btn btn-secondary btn-sm">Cancel</a>
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
            </div>
        </form>
    </div>
  </div>
</div>

<script>
function showTime(){
    var date = new Date();
    var h = date.getHours(); // 0 - 23
    var m = date.getMinutes(); // 0 - 59
    var s = date.getSeconds(); // 0 - 59
    var session = "AM";
    
    if(h == 0){
        h = 12;
    }
    
    if(h > 12){
        h = h - 12;
        session = "PM";
    }
    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;
    
    var time = h + ":" + m + ":" + s + " " + session;
    document.getElementById("clock").innerText = time;
    document.getElementById("clock").textContent = time;
    
    setTimeout(showTime, 1000);
    
}

showTime();

$(document).on('submit','#tito_form',function(e){
e.preventDefault();
$.ajax({
    type:'POST',
    url:'{% url "app:homepage" %}',
    data:
    {
        task:$("#category").val(),
        csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
    },
    success:function(){
        startTimer()
        alert('Saved');
    }
    })
});

</script>

<script>
window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove(); 
    });
}, 2000);
</script>
{% endblock %}

{% block tablescript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>

<script>
    $(document).ready(function() {
        $('#tito_table').DataTable(
            {
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                fixedHeader: true,
                "searching": false
            }
        );
        
    } );
</script>
{% endblock tablescript %}